* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.7;
}

$primary-dark: #333;
$primary-light: #fff;
$primary-highlight: #00ed82;
