* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.7;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
}

header {
  width: 100%;
}

header #navbar {
  background: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #navbar a .logo {
  height: 60px;
  width: 60px;
  padding-left: 15px;
}

header #navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

header #navbar ul li {
  list-style: none;
}

header #navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
}

header #navbar ul li a:hover {
  color: #00ed82;
}

header #showcase {
  width: 100%;
  height: 500px;
  background: url("../images/showcase.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #showcase h1 {
  color: #fff;
  font-size: 38px;
  padding-top: 30px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

header #showcase h1 span {
  color: #00ed82;
}

@media (max-width: 600px) {
  header #showcase h1 {
    padding-top: 40px;
    font-size: 32px;
    text-align: center;
  }
}

header #showcase p {
  width: 65%;
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 220px;
  color: #fff;
}

@media (max-width: 600px) {
  header #showcase p {
    padding-top: 70px;
    padding-bottom: 100px;
    font-size: 14px;
  }
}

header #showcase a {
  height: 60px;
  width: 200px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #333;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

header #showcase a:hover {
  background-color: #00ed82;
  color: #333;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

@media (max-width: 600px) {
  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.content-container .image-display {
  background: url("../images/drew-coffman-EbivdbB83Y0-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 500px;
}

@media (max-width: 600px) {
  .content-container .image-display {
    width: 100%;
    height: 350px;
  }
}

.content-container .text-container {
  width: 50%;
  padding-top: 70px;
  text-align: center;
  line-height: 1.4;
  background-color: #333;
  color: #fff;
}

@media (max-width: 600px) {
  .content-container .text-container {
    width: 100%;
    height: 350px;
    padding-top: 20px;
  }
}

.content-container .text-container h2 {
  font-size: 28px;
}

@media (max-width: 600px) {
  .content-container .text-container h2 {
    font-size: 22px;
  }
}

.content-container .text-container p {
  padding: 10px 35px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .content-container .text-container p {
    font-size: 14px;
  }
}

.content-container .text-container span {
  color: #00ed82;
}

.content-container .text-container .spacer {
  height: 50px;
  width: 100%;
}

@media (max-width: 600px) {
  .content-container .text-container .spacer {
    height: 20px;
  }
}

.content-container .text-container img {
  height: 75px;
  width: 75px;
}

@media (max-width: 600px) {
  .content-container .text-container img {
    height: 45px;
    width: 45px;
  }
}

.offerings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (max-width: 600px) {
  .offerings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offerings .offerings-item {
  height: 275px;
  width: 33.33%;
}

@media (max-width: 600px) {
  .offerings .offerings-item {
    width: 100%;
    height: 250px;
  }
}

.offerings .offerings-item:nth-child(2) {
  background-color: #00ed82;
}

.offerings i {
  padding-top: 45px;
  color: #333;
}

@media (max-width: 600px) {
  .offerings i {
    padding-top: 25px;
  }
}

.offerings ul {
  padding-top: 10px;
}

.offerings ul li {
  list-style: none;
}

.footer {
  width: 100%;
  width: 100%;
  height: 125px;
  background-color: #333;
  color: #fff;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .footer h3 {
    text-align: center;
    font-size: 16px;
  }
}

.footer-pay-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-pay-item {
  padding-top: 10px;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .footer-pay-item {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.footer-text {
  margin-top: 30px;
}

@media (max-width: 600px) {
  .footer-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.about-showcase {
  width: 100%;
  height: 500px;
  background: url("../images/patrick-lalonde-KXaGGUeRgvE-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-showcase h1 {
  color: #fff;
  font-size: 38px;
  padding-top: 200px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.about-showcase h1 span {
  color: #00ed82;
}

@media (max-width: 600px) {
  .about-showcase h1 {
    padding-top: 40px;
    font-size: 32px;
    text-align: center;
  }
}

.reviews {
  width: 100%;
  height: 600px;
  background-color: #333;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 30px;
}

@media (max-width: 600px) {
  .reviews {
    height: 1100px;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 15px;
    overflow: hidden;
  }
}

.reviews-card {
  height: 250px;
  width: 325px;
  border-radius: 25px;
  background-color: #00ed82;
}

@media (max-width: 600px) {
  .reviews-card {
    height: 200px;
    width: 275px;
  }
}

.reviews-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 10px;
}

.reviews-card-text {
  margin-top: 10px;
  margin-left: 35px;
  text-align: center;
  width: 70%;
}
/*# sourceMappingURL=main.css.map */